@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-Poppins;
}

p{
	@apply text-black/70 font-medium
}

.line::after{
	content: '';
	position: absolute;
	background-color:#2563EA;
	bottom: -20px;
	left: 50%;
	transform: translate(-50%);
	width: 60%;
	height: 5px;
	border-radius: 5px;
	margin: 0 auto;
}
