@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-Poppins;
}

.line::after {
	content: '';
	position: absolute;
	background-color: #2563ea;
	bottom: -20px;
	left: 50%;
	transform: translate(-50%);
	width: 60%;
	height: 5px;
	border-radius: 5px;
	margin: 0 auto;
}

@media (max-width: 767px) {
	.line::after {
		left: 0%;
		transform: translate(0%);
	}
}
